*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}
/*Fix browsers autofill*/ 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px transparent inset; /* Change the color to your own background color */
    -webkit-text-fill-color:black;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/0 0 0 50px transparent inset;
    -webkit-text-fill-color: black;
}
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  border: none;
}
.nav{
    height: 100px;
    box-shadow: 0px 2px 3px grey;
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    padding: 30px;
    font-size: 28px;
    font-weight: bold;
    justify-content: space-between;
}
.left-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.book-logo{
    height: 60px;
}
.theme-switch{
    background-color: #292929;
    border: solid 4px #292929;
    border-radius: 50px;
    cursor: pointer;
    height: 35px;
    outline-width: 5px;
    position: relative;
    width: 80px;
}
.theme-icon{
    background-color: #ffffff;
    border-radius: 100%;
    content: "";
    display: block;
    height: 21px;
    margin: 0px 6px;
    position: relative;
    width: 21px;
    transition: background-color 0.3s, transform 0.3s;
}
.add-books{
    text-align: center;
    padding: 40px;
}
.open-modal{
    font-size: larger;
    font-weight: bold;
    border: 2px solid #b005ff;
    height: 50px;
    background-color: #b005ff;
    max-width: 130px;
    cursor: pointer;
    color:white;
    transition: 0.6s;
}
.open-modal:hover{
    transform: scale(110%);
}
.open-modal:active, .submit:active{
    transform: scale(90%);
    transition: 0.3s;
}
.submit{
    color: white;
    background-color: #b005ff;
    height: 40px;
    max-width: 110px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s;
}
.submit:hover{
    transform: scale(110%);   
}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 350px;
    min-width: clamp(220px, 300px, 350px);
    border: 2px solid rgb(145 140 140);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:10px;
}
.modal::backdrop{
    backdrop-filter: blur(3px);
}
.close-modal{
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}
.close-modal img{
    width: 25px;
}
.close-modal:hover{
    transform: scale(120%);
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.text-input{
    min-width:250px;
    height: 40px;
    padding: 15px;
    border: 1.5px solid grey;
    border-radius: 5px;
}
.form-fail{
    border-color:  red;
}
.form-success{
    border-color:  rgb(95, 240, 102);
}
.text-input:focus{
    outline-color:#b005ff;
}
.book-status{
    display: flex;
}
input[type="checkbox"]{
    width: 30px;
    accent-color: #b005ff;
    cursor: pointer;
}
#cards{
    display: flex;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 250px;
    height: 300px;
    border: 2px solid rgb(145 140 140);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: large;
    font-weight: bolder;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}
.card-buttons{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.remove{
    width: 100px;
    padding:5px;
    border-radius:5%;
    background-color: #292929;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}
.status-btn{
    width: 100px;
    padding:5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}
.status-btn:hover{
    transform: scale(110%);
}
.fail{
    background-color:#292929;
}
.success{
    background-color:#b005ff;
}
.remove:hover{
    transform: scale(110%);
}
.footer-elements{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-top: auto;
    padding: 10px;
    width: 100%;
}
.footer{
    color: #b005ff;
    font-weight: bolder;
}
.footer-git{
    transition:.5s ease-in-out;
}
.footer-git:hover{
    transform: rotate(360deg) scale(1.1);
}
/**Dark Mode**/
body.dark{
    background-color: black;
}